@model MyMvcApp.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2 class="text-center user-name">Payment</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 user-name">
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>
        <dd class = "col-sm-10 user-name">
            @Html.DisplayFor(model => model.Invoice.InvoiceId)
        </dd>
        <dt class = "col-sm-2 user-name">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10 user-name">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2 user-name">
            @Html.DisplayNameFor(model => model.PaidAt)
        </dt>
        <dd class = "col-sm-10 user-name">
            @Html.DisplayFor(model => model.PaidAt)
        </dd>
        <dt class = "col-sm-2 user-name">
            @Html.DisplayNameFor(model => model.Method)
        </dt>
        <dd class = "col-sm-10 user-name">
            @Html.DisplayFor(model => model.Method)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
