@model IEnumerable<MyMvcApp.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center user-name">Appointment</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="container-fluid" style="overflow:auto;">
<table class="table">
    <thead>
        <tr>
                <th class="user-name">
                @Html.DisplayNameFor(model => model.Patient)
            </th>
                <th class="user-name">
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
                <th class="user-name">
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
                <th class="user-name">
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
                <th class="user-name">
                @Html.DisplayNameFor(model => model.Status)
            </th>
                <th class="user-name">
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td class="user-name">
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
                    <td class="user-name">
                @Html.DisplayFor(modelItem => item.Doctor.FirstName)
            </td>
                    <td class="user-name">
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
                    <td class="user-name">
                        @Html.DisplayFor(modelItem => item.EndTime)
            </td>
                    <td class="user-name">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                    <td class="user-name">
                @Html.DisplayFor(modelItem => item.Notes) 
            </td>
            <td class="gap-2" style="display:flex">
                <a asp-action="Edit" asp-route-id="@item.AppointmentId" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.AppointmentId" class="btn btn-sm btn-secondary"><i class="fa fa-file-alt"></i></a> 
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>