@model MyMvcApp.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2 class="text-center user-name">Doctor</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 user-name">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10 user-name">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2 user-name">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10 user-name">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2 user-name">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10 user-name">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
        <dt class = "col-sm-2 user-name">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10 user-name">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
